// backgrounds & theming colors
$page-bg-color:            #ffffff;

// text colors
$primary-text-color:       #2d283e;
$secondary-text-color:     #564f6f;
$action-color:             #802bb1;
$decent-color:             #d1d7e0;

// measurements
$page-width:               1000px;

// breakpoints
$break-small: 480px;
